/*button*/
.floating-btn{
  height: 180px; /* or whatever width you want. */
  width: 370px;
  display: inline-block;
  text-align:center;
  margin-top: 100px;
  text-decoration: none;
}

.three-btn {
  font-family: Arial;
  color: #000000;
  font-size: 24px;
  background: #e6e6e6;
  padding: 70px 40px 70px 40px;
  text-decoration: none;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
}

.three-btn:hover {
  background: #c7c7c7;
  text-decoration: none;
  color: #000000;
}


/*responsive button-container*/
/*.button-container { width: 100%; margin: 0 auto; }
.button-container .row { float: left;  width: 100%; }
.button-container .col { float: left; margin: 0 0 1.2em; padding-right: 1.2em; padding-left: 1.2em; }
.button-container .col.three, .button-container { width: 100%; }*/


@media (min-width:600px) and (max-width:1000px) {
  .three-btn { width: 500px; display: block; padding: 70px 100px 70px 100px; }
  .floating-btn{margin-top: 50px;}
}


@media only screen and (max-width:600px) {
  .three-btn { width: 450px; display: block; padding: 70px 100px 70px 100px; }
  .floating-btn{margin-top: 50px;}
}


/*for table of category and location */
.table-floating-box {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 35px;
  /*border: 0px solid rgb(207, 207, 207);*/  
  text-align: center;
}



.link-block-btn {
  width:200px;
  height:150px;
  display:block;
  text-align:center;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  background: #e6e6e6;
  text-decoration: none;
  border: 0px;
}

.link-block-btn:hover {
  background: #c7c7c7;
  text-decoration: none;
}

/* for using hyperlink method
.link-block {
  display:block;
  width:200px;
  height:150px;
  border:1px solid grey;
  text-align:center;
  line-height:50px;
  color:rgb(255, 255, 255);
  text-decoration:none;
  border-radius:5px;
}*/

body {
  padding-top: 50px;
}
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 10px 20px;
  margin-left: 5px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn[data-toggle="dropdown"] {
  border-radius: 0;
  margin-left: 0px;
}

.btn-group {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.btn-group {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.btn-group .btn[data-toggle="dropdown"]{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.form-horizontal .form-group{
  margin-left: 10px;
  margin-right: 10px;
}


div.form-group .form-control[type="text"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.glyphicon  {
  font-size: 20px;
}

.caret-lg {
  border-top: 20px solid #000000;
  border-bottom: 20px solid #000000;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  #adv-search {
      width: 100%;
      margin: 0 auto;
  }
  .dropdown.dropdown-lg {
      position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
      min-width: 500px;
  }
}

div.form-group label{
  color: rgb(94, 94, 94);
  padding: 0px 20px 0px 0px;
  margin-left: 5px;
  font-weight: bold;
}

.form-control option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.fa-search {
  color: white;
}
.fa-sort-down {
  color: white;
}

.more-word {
  font-size: 13px; 
  color: white
}


.more-icon {
  background:#0088cc;
}

.more-icon:hover {
  background:#049de9;
}

.search-icon {
  background:#0088cc;
}

.search-icon:hover {
  background:#049de9;
}